action-tutorials-py==0.9.4
Adafruit-Blinka==8.6.0
adafruit-circuitpython-bno055==5.4.7
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-register==1.9.14
adafruit-circuitpython-requests==1.12.9
adafruit-circuitpython-typing==1.8.2
Adafruit-PlatformDetect==3.32.0
Adafruit-PureIO==1.1.9
ament-copyright==0.9.7
ament-cppcheck==0.9.7
ament-cpplint==0.9.7
ament-flake8==0.9.7
ament-index-python==1.1.0
ament-lint==0.9.7
ament-lint-cmake==0.9.7
ament-package==0.9.5
ament-pep257==0.9.7
ament-uncrustify==0.9.7
ament-xmllint==0.9.7
argcomplete==1.8.1
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
Automat==0.8.0
beautifulsoup4==4.8.2
blinker==1.4
catkin-pkg==0.5.2
catkin-pkg-modules==0.5.2
cbor==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloud-init==22.3.4
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.10.0
colcon-defaults==0.2.6
colcon-devtools==0.2.3
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.14
colcon-output==0.2.12
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cov-core==1.15.0
coverage==4.5.2
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
demo-nodes-py==0.9.4
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.16
domain-coordinator==0.9.2
empy==3.3.2
entrypoints==0.3
et-xmlfile==1.0.1
examples-rclpy-executors==0.9.4
examples-rclpy-minimal-action-client==0.9.4
examples-rclpy-minimal-action-server==0.9.4
examples-rclpy-minimal-client==0.9.4
examples-rclpy-minimal-publisher==0.9.4
examples-rclpy-minimal-service==0.9.4
examples-rclpy-minimal-subscriber==0.9.4
flake8==3.7.9
gps==3.20
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
ifcfg==0.18
importlib-metadata==1.5.0
incremental==16.10.1
jdcal==1.0
Jinja2==2.10.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
lark-parser==0.8.1
launch==0.10.10
launch-ros==0.11.7
launch-testing==0.10.10
launch-testing-ros==0.11.7
launch-xml==0.10.10
launch-yaml==0.10.10
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
mock==3.0.5
more-itertools==4.2.0
mpi4py==3.0.3
netifaces==0.10.4
nmea-parser==0.5.0
nose2==0.9.1
notify2==0.3
numexpr==2.7.1
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
osrf-pycommon==0.1.11
packaging==20.3
pandas==0.25.3
pbr==5.4.5
pexpect==4.6.0
Pillow==7.0.0
pluggy==0.13.0
protobuf==3.6.1
psutil==5.5.1
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.5.0
pycups==1.9.73
pydocstyle==2.1.1
pydot==1.4.1
pyflakes==2.1.1
pyftdi==0.54.0
Pygments==2.3.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
pytest==4.6.9
pytest-cov==2.8.1
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-snappy==0.5.3
PyTrie==0.2
pytz==2019.3
pyusb==1.2.1
pyxdg==0.26
PyYAML==5.3.1
quality-of-service-demo-py==0.9.4
requests==2.22.0
requests-unixsocket==0.2.0
roman==2.0.0
ros2action==0.9.12
ros2bag==0.3.9
ros2cli==0.9.12
ros2component==0.9.12
ros2doctor==0.9.12
ros2interface==0.9.12
ros2launch==0.11.7
ros2lifecycle==0.9.12
ros2multicast==0.9.12
ros2node==0.9.12
ros2param==0.9.12
ros2pkg==0.9.12
ros2run==0.9.12
ros2service==0.9.12
ros2topic==0.9.12
rosdep==0.18.0
rosdistro==0.9.0
rosdistro-modules==0.9.0
rosidl-runtime-py==0.9.1
rospkg==1.4.0
rospkg-modules==1.4.0
RPi.GPIO==0.6.5
rpyutils==0.2.0
rqt==1.1.2
rqt-action==0.4.9
rqt-console==1.1.2
rqt-graph==1.1.3
rqt-gui==1.1.2
rqt-gui-py==1.1.2
rqt-moveit==1.0.1
rqt-msg==1.0.5
rqt-plot==1.1.1
rqt-publisher==1.3.0
rqt-py-console==1.0.2
rqt-reconfigure==1.0.8
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.5
rqt-robot-steering==1.0.0
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==1.0.2
rqt-top==1.0.2
rqt-topic==1.3.0
scipy==1.3.3
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
snowballstemmer==2.0.0
sos==4.4
soupsieve==1.9.5
sros2==0.9.5
ssh-import-id==5.10
systemd-python==234
tables==3.6.1
teleop-twist-keyboard==2.3.2
topic-monitor==0.9.4
Twisted==18.9.0
txaio==2.10.0
typing-extensions==4.4.0
u-msgpack-python==2.1
ubuntu-advantage-tools==27.11.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
wsaccel==0.6.2
xlrd==1.1.0
xlwt==1.3.0
zipp==1.0.0
zope.interface==4.7.1
